body { color: rgb(0, 0, 0); background: rgb(255, 255, 255); margin: 0px; }
.next-error-h1 { border-right: 1px solid rgba(0, 0, 0, 0.3); }
@media (prefers-color-scheme: dark) {
  body { color: rgb(255, 255, 255); background: rgb(0, 0, 0); }
  .next-error-h1 { border-right: 1px solid rgba(255, 255, 255, 0.3); }
}