#nav-toggle:checked ~ #nav-menu {
  display: block;
}

@media (min-width: 1024px) {
  #nav-toggle:checked ~ #nav-menu {
    display: flex;
  }
}

.accordion.active .accordion-content {
  display: block;
}
