#nav-toggle:checked ~ #nav-menu {
  display: block;
}

@media (min-width: 1024px) {
  #nav-toggle:checked ~ #nav-menu {
    display: flex;
  }
}

.accordion.active .accordion-content {
  display: block;
}

html,
body {
  overflow-x: clip;
}

[data-aos] {
  opacity: 1 !important;
  pointer-events: auto !important;
  transform: none !important;
  visibility: visible !important;
}

.is-infinite-slider {
  overflow: hidden !important;
}

.is-infinite-slider .swiper-wrapper {
  display: flex;
  gap: 1.25rem;
  width: max-content;
}
