/* Neoxa Style Tokens */
:root {
	--font-sans: "Plus Jakarta Sans", sans-serif;
	--font-mono: "DM Sans", sans-serif;

	/* Color Tokens (Default Light) */
	--bg-primary: #f9fafb;
	--bg-secondary: #ffffff;
	--bg-card: rgba(255, 255, 255, 0.8);
	--border-card: #ffffff;
	--border-primary: #e2e8f0;
	--text-main: #1e293b;
	--text-muted: #64748b;
	--text-light: #94a3b8;
}

[data-theme="dark"] {
	--bg-primary: #0f172a;
	--bg-secondary: #1e293b;
	--bg-card: rgba(30, 41, 59, 0.8);
	--border-card: #334155;
	--border-primary: #334155;
	--text-main: #f8fafc;
	--text-muted: #94a3b8;
	--text-light: #64748b;
}
