

a,
button,
[role="menuitem"],
[role="button"],
label,
select,
input[type="checkbox"] {
	cursor: pointer;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
textarea {
	cursor: text;
}


[role="menuitem"][data-focus] {
	background-color: #3b82f6;
	color: #fff;
}
[role="menuitem"][data-focus] svg {
	color: #fff !important;
}


tr:hover {
	background-color: color-mix(in oklab, #09090b 2.5%, transparent);
}
.dark tr:hover {
	background-color: color-mix(in oklab, #fff 2.5%, transparent);
}


html {
	color-scheme: light dark;
}
.z-50 {
	z-index: 50;
}
