*,
::after,
::before {
	--tw-border-spacing-x: 0;
	--tw-border-spacing-y: 0;
	--tw-translate-x: 0;
	--tw-translate-y: 0;
	--tw-rotate: 0;
	--tw-skew-x: 0;
	--tw-skew-y: 0;
	--tw-scale-x: 1;
	--tw-scale-y: 1;
	--tw-pan-x: ;
	--tw-pan-y: ;
	--tw-pinch-zoom: ;
	--tw-scroll-snap-strictness: proximity;
	--tw-gradient-from-position: ;
	--tw-gradient-via-position: ;
	--tw-gradient-to-position: ;
	--tw-ordinal: ;
	--tw-slashed-zero: ;
	--tw-numeric-figure: ;
	--tw-numeric-spacing: ;
	--tw-numeric-fraction: ;
	--tw-ring-inset: ;
	--tw-ring-offset-width: 0px;
	--tw-ring-offset-color: #fff;
	--tw-ring-color: rgba(59, 130, 246, 0.5);
	--tw-ring-offset-shadow: 0 0 #0000;
	--tw-ring-shadow: 0 0 #0000;
	--tw-shadow: 0 0 #0000;
	--tw-shadow-colored: 0 0 #0000;
	--tw-blur: ;
	--tw-brightness: ;
	--tw-contrast: ;
	--tw-grayscale: ;
	--tw-hue-rotate: ;
	--tw-invert: ;
	--tw-saturate: ;
	--tw-sepia: ;
	--tw-drop-shadow: ;
	--tw-backdrop-blur: ;
	--tw-backdrop-brightness: ;
	--tw-backdrop-contrast: ;
	--tw-backdrop-grayscale: ;
	--tw-backdrop-hue-rotate: ;
	--tw-backdrop-invert: ;
	--tw-backdrop-opacity: ;
	--tw-backdrop-saturate: ;
	--tw-backdrop-sepia: ;
	--tw-contain-size: ;
	--tw-contain-layout: ;
	--tw-contain-paint: ;
	--tw-contain-style: ;
}
::backdrop {
	--tw-border-spacing-x: 0;
	--tw-border-spacing-y: 0;
	--tw-translate-x: 0;
	--tw-translate-y: 0;
	--tw-rotate: 0;
	--tw-skew-x: 0;
	--tw-skew-y: 0;
	--tw-scale-x: 1;
	--tw-scale-y: 1;
	--tw-pan-x: ;
	--tw-pan-y: ;
	--tw-pinch-zoom: ;
	--tw-scroll-snap-strictness: proximity;
	--tw-gradient-from-position: ;
	--tw-gradient-via-position: ;
	--tw-gradient-to-position: ;
	--tw-ordinal: ;
	--tw-slashed-zero: ;
	--tw-numeric-figure: ;
	--tw-numeric-spacing: ;
	--tw-numeric-fraction: ;
	--tw-ring-inset: ;
	--tw-ring-offset-width: 0px;
	--tw-ring-offset-color: #fff;
	--tw-ring-color: rgba(59, 130, 246, 0.5);
	--tw-ring-offset-shadow: 0 0 #0000;
	--tw-ring-shadow: 0 0 #0000;
	--tw-shadow: 0 0 #0000;
	--tw-shadow-colored: 0 0 #0000;
	--tw-blur: ;
	--tw-brightness: ;
	--tw-contrast: ;
	--tw-grayscale: ;
	--tw-hue-rotate: ;
	--tw-invert: ;
	--tw-saturate: ;
	--tw-sepia: ;
	--tw-drop-shadow: ;
	--tw-backdrop-blur: ;
	--tw-backdrop-brightness: ;
	--tw-backdrop-contrast: ;
	--tw-backdrop-grayscale: ;
	--tw-backdrop-hue-rotate: ;
	--tw-backdrop-invert: ;
	--tw-backdrop-opacity: ;
	--tw-backdrop-saturate: ;
	--tw-backdrop-sepia: ;
	--tw-contain-size: ;
	--tw-contain-layout: ;
	--tw-contain-paint: ;
	--tw-contain-style: ;
}
*,
::after,
::before {
	box-sizing: border-box;
	border: 0px solid rgb(229, 231, 235);
}
::after,
::before {
	--tw-content: "";
}
:host,
html {
	line-height: 1.5;
	text-size-adjust: 100%;
	tab-size: 4;
	font-family:
		ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
		"Segoe UI Symbol", "Noto Color Emoji";
	font-feature-settings: normal;
	font-variation-settings: normal;
	-webkit-tap-highlight-color: transparent;
}
body {
	margin: 0px;
	line-height: inherit;
}
hr {
	height: 0px;
	color: inherit;
	border-top-width: 1px;
}
abbr:where([title]) {
	text-decoration: underline dotted;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}
a {
	color: inherit;
	text-decoration: inherit;
}
b,
strong {
	font-weight: bolder;
}
code,
kbd,
pre,
samp {
	font-family:
		ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
		"Courier New", monospace;
	font-feature-settings: normal;
	font-variation-settings: normal;
	font-size: 1em;
}
small {
	font-size: 80%;
}
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sub {
	bottom: -0.25em;
}
sup {
	top: -0.5em;
}
table {
	text-indent: 0px;
	border-color: inherit;
	border-collapse: collapse;
}
button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-feature-settings: inherit;
	font-variation-settings: inherit;
	font-size: 100%;
	font-weight: inherit;
	line-height: inherit;
	letter-spacing: inherit;
	color: inherit;
	margin: 0px;
	padding: 0px;
}
button,
select {
	text-transform: none;
}
button,
input:where([type="button"]),
input:where([type="reset"]),
input:where([type="submit"]) {
	appearance: button;
	background-color: transparent;
	background-image: none;
}
progress {
	vertical-align: baseline;
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto;
}
[type="search"] {
	appearance: textfield;
	outline-offset: -2px;
}
::-webkit-search-decoration {
	appearance: none;
}
::-webkit-file-upload-button {
	appearance: button;
	font: inherit;
}
summary {
	display: list-item;
}
blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
	margin: 0px;
}
fieldset {
	margin: 0px;
}
fieldset,
legend {
	padding: 0px;
}
menu,
ol,
ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
dialog {
	padding: 0px;
}
textarea {
	resize: vertical;
}
input::placeholder,
textarea::placeholder {
	opacity: 1;
	color: rgb(156, 163, 175);
}
[role="button"],
button {
	cursor: pointer;
}
:disabled {
	cursor: default;
}
audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
	display: block;
	vertical-align: middle;
}
img,
video {
	max-width: 100%;
	height: auto;
}
[hidden]:where(:not([hidden="until-found"])) {
	display: none;
}
:root {
	--radius: 0.5rem;
}
.container {
	width: 100%;
}
@media (min-width: 640px) {
	.container {
		max-width: 640px;
	}
}
@media (min-width: 768px) {
	.container {
		max-width: 768px;
	}
}
@media (min-width: 1024px) {
	.container {
		max-width: 1024px;
	}
}
@media (min-width: 1280px) {
	.container {
		max-width: 1280px;
	}
}
@media (min-width: 1536px) {
	.container {
		max-width: 1536px;
	}
}
.pointer-events-none {
	pointer-events: none;
}
.\!visible {
	visibility: visible !important;
}
.visible {
	visibility: visible;
}
.fixed {
	position: fixed;
}
.absolute {
	position: absolute;
}
.relative {
	position: relative;
}
.sticky {
	position: sticky;
}
.-inset-px {
	inset: -1px;
}
.inset-0 {
	inset: 0px;
}
.inset-x-0 {
	left: 0px;
	right: 0px;
}
.-right-2 {
	right: -0.5rem;
}
.bottom-0 {
	bottom: 0px;
}
.bottom-4 {
	bottom: 1rem;
}
.bottom-full {
	bottom: 100%;
}
.left-0 {
	left: 0px;
}
.left-1\/2 {
	left: 50%;
}
.right-0 {
	right: 0px;
}
.right-4 {
	right: 1rem;
}
.top-0 {
	top: 0px;
}
.top-1\/2 {
	top: 50%;
}
.top-16 {
	top: 4rem;
}
.top-2 {
	top: 0.5rem;
}
.top-20 {
	top: 5rem;
}
.isolate {
	isolation: isolate;
}
.z-0 {
	z-index: 0;
}
.z-10 {
	z-index: 10;
}
.z-20 {
	z-index: 20;
}
.z-40 {
	z-index: 40;
}
.z-50 {
	z-index: 50;
}
.z-\[60\] {
	z-index: 60;
}
.mx-auto {
	margin-left: auto;
	margin-right: auto;
}
.my-10 {
	margin-top: 2.5rem;
	margin-bottom: 2.5rem;
}
.my-20 {
	margin-top: 5rem;
	margin-bottom: 5rem;
}
.my-28 {
	margin-top: 7rem;
	margin-bottom: 7rem;
}
.my-4 {
	margin-top: 1rem;
	margin-bottom: 1rem;
}
.-mb-px {
	margin-bottom: -1px;
}
.-mt-12 {
	margin-top: -3rem;
}
.-mt-14 {
	margin-top: -3.5rem;
}
.mb-10 {
	margin-bottom: 2.5rem;
}
.mb-4 {
	margin-bottom: 1rem;
}
.mb-6 {
	margin-bottom: 1.5rem;
}
.mb-8 {
	margin-bottom: 2rem;
}
.ml-2 {
	margin-left: 0.5rem;
}
.mr-2 {
	margin-right: 0.5rem;
}
.mt-0 {
	margin-top: 0px;
}
.mt-1 {
	margin-top: 0.25rem;
}
.mt-10 {
	margin-top: 2.5rem;
}
.mt-12 {
	margin-top: 3rem;
}
.mt-2 {
	margin-top: 0.5rem;
}
.mt-20 {
	margin-top: 5rem;
}
.mt-4 {
	margin-top: 1rem;
}
.mt-6 {
	margin-top: 1.5rem;
}
.mt-8 {
	margin-top: 2rem;
}
.mt-80 {
	margin-top: 20rem;
}
.mt-\[600px\] {
	margin-top: 600px;
}
.mt-auto {
	margin-top: auto;
}
.\!block {
	display: block !important;
}
.block {
	display: block;
}
.inline-block {
	display: inline-block;
}
.flex {
	display: flex;
}
.inline-flex {
	display: inline-flex;
}
.grid {
	display: grid;
}
.\!hidden {
	display: none !important;
}
.hidden {
	display: none;
}
.h-10 {
	height: 2.5rem;
}
.h-12 {
	height: 3rem;
}
.h-14 {
	height: 3.5rem;
}
.h-2 {
	height: 0.5rem;
}
.h-4 {
	height: 1rem;
}
.h-40 {
	height: 10rem;
}
.h-48 {
	height: 12rem;
}
.h-5 {
	height: 1.25rem;
}
.h-6 {
	height: 1.5rem;
}
.h-60 {
	height: 15rem;
}
.h-8 {
	height: 2rem;
}
.h-96 {
	height: 24rem;
}
.h-\[2px\] {
	height: 2px;
}
.h-\[300px\] {
	height: 300px;
}
.h-\[50px\] {
	height: 50px;
}
.h-auto {
	height: auto;
}
.h-full {
	height: 100%;
}
.h-screen {
	height: 100vh;
}
.min-h-\[80vh\] {
	min-height: 80vh;
}
.min-h-screen {
	min-height: 100vh;
}
.w-10 {
	width: 2.5rem;
}
.w-14 {
	width: 3.5rem;
}
.w-2 {
	width: 0.5rem;
}
.w-32 {
	width: 8rem;
}
.w-4 {
	width: 1rem;
}
.w-5 {
	width: 1.25rem;
}
.w-56 {
	width: 14rem;
}
.w-6 {
	width: 1.5rem;
}
.w-8 {
	width: 2rem;
}
.w-\[300px\] {
	width: 300px;
}
.w-\[50px\] {
	width: 50px;
}
.w-full {
	width: 100%;
}
.w-screen {
	width: 100vw;
}
.max-w-3xl {
	max-width: 48rem;
}
.max-w-4xl {
	max-width: 56rem;
}
.max-w-7xl {
	max-width: 80rem;
}
.max-w-\[200px\] {
	max-width: 200px;
}
.max-w-\[calc\(100vw-2rem\)\] {
	max-width: calc(-2rem + 100vw);
}
.max-w-lg {
	max-width: 32rem;
}
.max-w-md {
	max-width: 28rem;
}
.max-w-sm {
	max-width: 24rem;
}
.max-w-xl {
	max-width: 36rem;
}
.flex-1 {
	flex: 1 1 0%;
}
.flex-\[1_0_0\] {
	flex: 1 0 0px;
}
.flex-none {
	flex: 0 0 auto;
}
.flex-shrink-0,
.shrink-0 {
	flex-shrink: 0;
}
.origin-top-left {
	transform-origin: left top;
}
.origin-top-right {
	transform-origin: right top;
}
.-translate-x-1\/2 {
	--tw-translate-x: -50%;
}
.-translate-x-1\/2,
.-translate-y-1\/2 {
	transform: translate(var(--tw-translate-x), var(--tw-translate-y))
		rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
		scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.-translate-y-1\/2 {
	--tw-translate-y: -50%;
}
.-translate-y-1\/3 {
	--tw-translate-y: -33.333333%;
}
.-translate-y-1\/3,
.transform {
	transform: translate(var(--tw-translate-x), var(--tw-translate-y))
		rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
		scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.cursor-pointer {
	cursor: pointer;
}
.select-none {
	user-select: none;
}
.auto-rows-\[25rem\] {
	grid-auto-rows: 25rem;
}
.grid-cols-1 {
	grid-template-columns: repeat(1, minmax(0px, 1fr));
}
.grid-cols-2 {
	grid-template-columns: repeat(2, minmax(0px, 1fr));
}
.flex-row {
	flex-direction: row;
}
.flex-col {
	flex-direction: column;
}
.items-start {
	align-items: flex-start;
}
.items-end {
	align-items: flex-end;
}
.items-center {
	align-items: center;
}
.justify-start {
	justify-content: flex-start;
}
.justify-center {
	justify-content: center;
}
.justify-between {
	justify-content: space-between;
}
.gap-1 {
	gap: 0.25rem;
}
.gap-10 {
	gap: 2.5rem;
}
.gap-2 {
	gap: 0.5rem;
}
.gap-3 {
	gap: 0.75rem;
}
.gap-4 {
	gap: 1rem;
}
.gap-6 {
	gap: 1.5rem;
}
.gap-8 {
	gap: 2rem;
}
.gap-\[6px\] {
	gap: 6px;
}
.space-x-1 > :not([hidden]) ~ :not([hidden]) {
	--tw-space-x-reverse: 0;
	margin-right: calc(0.25rem * var(--tw-space-x-reverse));
	margin-left: calc(0.25rem * calc(1 - var(--tw-space-x-reverse)));
}
.space-y-2 > :not([hidden]) ~ :not([hidden]) {
	--tw-space-y-reverse: 0;
	margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
	margin-bottom: calc(0.5rem * var(--tw-space-y-reverse));
}
.space-y-3 > :not([hidden]) ~ :not([hidden]) {
	--tw-space-y-reverse: 0;
	margin-top: calc(0.75rem * calc(1 - var(--tw-space-y-reverse)));
	margin-bottom: calc(0.75rem * var(--tw-space-y-reverse));
}
.space-y-4 > :not([hidden]) ~ :not([hidden]) {
	--tw-space-y-reverse: 0;
	margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
	margin-bottom: calc(1rem * var(--tw-space-y-reverse));
}
.divide-y > :not([hidden]) ~ :not([hidden]) {
	--tw-divide-y-reverse: 0;
	border-top-width: calc(1px * calc(1 - var(--tw-divide-y-reverse)));
	border-bottom-width: calc(1px * var(--tw-divide-y-reverse));
}
.divide-neutral-800 > :not([hidden]) ~ :not([hidden]) {
	--tw-divide-opacity: 1;
	border-color: rgb(38 38 38 / var(--tw-divide-opacity, 1));
}
.self-center {
	align-self: center;
}
.overflow-hidden {
	overflow: hidden;
}
.text-balance {
	text-wrap: balance;
}
.rounded-2xl {
	border-radius: 1rem;
}
.rounded-3xl {
	border-radius: 1.5rem;
}
.rounded-\[0px_20px_20px_0px\] {
	border-radius: 0px 20px 20px 0px;
}
.rounded-\[10px\] {
	border-radius: 10px;
}
.rounded-\[128px\] {
	border-radius: 128px;
}
.rounded-\[13px\] {
	border-radius: 13px;
}
.rounded-\[16px\] {
	border-radius: 16px;
}
.rounded-\[17px\] {
	border-radius: 17px;
}
.rounded-\[20px\] {
	border-radius: 20px;
}
.rounded-\[343\.721px\] {
	border-radius: 343.721px;
}
.rounded-\[50px\] {
	border-radius: 50px;
}
.rounded-\[5px\] {
	border-radius: 5px;
}
.rounded-\[inherit\] {
	border-radius: inherit;
}
.rounded-full {
	border-radius: 9999px;
}
.rounded-lg {
	border-radius: var(--radius);
}
.rounded-md {
	border-radius: calc(var(--radius) - 2px);
}
.rounded-xl {
	border-radius: 0.75rem;
}
.border {
	border-width: 1px;
}
.border-0 {
	border-width: 0px;
}
.border-2 {
	border-width: 2px;
}
.border-\[0\.6px\] {
	border-width: 0.6px;
}
.border-t {
	border-top-width: 1px;
}
.border-solid {
	border-style: solid;
}
.border-\[\#474747\] {
	--tw-border-opacity: 1;
	border-color: rgb(71 71 71 / var(--tw-border-opacity, 1));
}
.border-\[\#545454\] {
	--tw-border-opacity: 1;
	border-color: rgb(84 84 84 / var(--tw-border-opacity, 1));
}
.border-\[rgba\(255\,255\,255\,0\.1\)\] {
	border-color: rgba(255, 255, 255, 0.1);
}
.border-\[rgba\(62\,62\,64\,0\.77\)\] {
	border-color: rgba(62, 62, 64, 0.77);
}
.border-neutral-400 {
	--tw-border-opacity: 1;
	border-color: rgb(163 163 163 / var(--tw-border-opacity, 1));
}
.border-neutral-700 {
	--tw-border-opacity: 1;
	border-color: rgb(64 64 64 / var(--tw-border-opacity, 1));
}
.border-neutral-700\/50 {
	border-color: rgba(64, 64, 64, 0.5);
}
.border-white {
	--tw-border-opacity: 1;
	border-color: rgb(255 255 255 / var(--tw-border-opacity, 1));
}
.border-white\/40 {
	border-color: rgba(255, 255, 255, 0.4);
}
.border-white\/\[0\.1\] {
	border-color: rgba(255, 255, 255, 0.1);
}
.bg-\[\#151515\] {
	--tw-bg-opacity: 1;
	background-color: rgb(21 21 21 / var(--tw-bg-opacity, 1));
}
.bg-\[rgba\(255\,255\,255\,0\)\] {
	background-color: rgba(255, 255, 255, 0);
}
.bg-background {
	background-color: var(--background);
}
.bg-black {
	--tw-bg-opacity: 1;
	background-color: rgb(0 0 0 / var(--tw-bg-opacity, 1));
}
.bg-black\/80 {
	background-color: rgba(0, 0, 0, 0.8);
}
.bg-emerald-100 {
	--tw-bg-opacity: 1;
	background-color: rgb(209 250 229 / var(--tw-bg-opacity, 1));
}
.bg-emerald-700\/\[0\.2\] {
	background-color: rgba(4, 120, 87, 0.2);
}
.bg-neutral-900 {
	--tw-bg-opacity: 1;
	background-color: rgb(23 23 23 / var(--tw-bg-opacity, 1));
}
.bg-transparent {
	background-color: transparent;
}
.bg-white {
	--tw-bg-opacity: 1;
	background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}
.bg-white\/20 {
	background-color: rgba(255, 255, 255, 0.2);
}
.\!bg-\[linear-gradient\(180deg\,\#B6B6B6_0\%\,\#313131_100\%\)\] {
	background-image: linear-gradient(
		rgb(182, 182, 182),
		rgb(49, 49, 49)
	) !important;
}
.bg-\[linear-gradient\(0deg\,\#333_0\%\,\#333_100\%\)\,radial-gradient\(297\.31\%_124\.05\%_at_91\.1\%_3\.42\%\,\#3B3B3B_0\%\,\#232323_27\.05\%\,\#0A0A0A_100\%\)\] {
	background-image:
		linear-gradient(0deg, rgb(51, 51, 51), rgb(51, 51, 51)),
		radial-gradient(
			297.31% 124.05% at 91.1% 3.42%,
			rgb(59, 59, 59) 0px,
			rgb(35, 35, 35) 27.05%,
			rgb(10, 10, 10) 100%
		);
}
.bg-\[linear-gradient\(178deg\,\#2E2E2E_0\.37\%\,\#0B0B0B_38\.61\%\)\,linear-gradient\(180deg\,\#4C4C4C_0\%\,\#151515_100\%\)\,linear-gradient\(180deg\,\#2E2E2E_0\%\,\#0B0B0B_100\%\)\] {
	background-image:
		linear-gradient(178deg, rgb(46, 46, 46) 0.37%, rgb(11, 11, 11) 38.61%),
		linear-gradient(rgb(76, 76, 76), rgb(21, 21, 21)),
		linear-gradient(rgb(46, 46, 46), rgb(11, 11, 11));
}
.bg-\[linear-gradient\(180deg\,\#1D1D1D_0\%\,\#131313_100\%\)\] {
	background-image: linear-gradient(rgb(29, 29, 29), rgb(19, 19, 19));
}
.bg-\[linear-gradient\(189deg\,\#252525_5\.97\%\,\#0E0E0E_92\.92\%\)\] {
	background-image: linear-gradient(
		189deg,
		rgb(37, 37, 37) 5.97%,
		rgb(14, 14, 14) 92.92%
	);
}
.bg-\[linear-gradient\(88deg\,\#161616_0\.35\%\,\#292929_98\.6\%\)\] {
	background-image: linear-gradient(
		88deg,
		rgb(22, 22, 22) 0.35%,
		rgb(41, 41, 41) 98.6%
	);
}
.bg-\[radial-gradient\(61\.17\%_178\.53\%_at_38\.83\%_-13\.54\%\,\#3B3B3B_0\%\,\#888787_12\.61\%\,\#FFFFFF_50\%\,\#888787_80\%\,\#3B3B3B_100\%\)\] {
	background-image: radial-gradient(
		61.17% 178.53% at 38.83% -13.54%,
		rgb(59, 59, 59) 0px,
		rgb(136, 135, 135) 12.61%,
		rgb(255, 255, 255) 50%,
		rgb(136, 135, 135) 80%,
		rgb(59, 59, 59) 100%
	);
}
.bg-gradient-to-b {
	background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
}
.bg-gradient-to-r {
	background-image: linear-gradient(to right, var(--tw-gradient-stops));
}
.from-\[\#393939\] {
	--tw-gradient-from: #393939 var(--tw-gradient-from-position);
	--tw-gradient-to: rgba(57, 57, 57, 0) var(--tw-gradient-to-position);
	--tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}
.from-\[\#3B3B3B\] {
	--tw-gradient-from: #3b3b3b var(--tw-gradient-from-position);
	--tw-gradient-to: rgba(59, 59, 59, 0) var(--tw-gradient-to-position);
	--tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}
.from-blue-500 {
	--tw-gradient-from: #3b82f6 var(--tw-gradient-from-position);
	--tw-gradient-to: rgba(59, 130, 246, 0) var(--tw-gradient-to-position);
	--tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}
.from-neutral-700 {
	--tw-gradient-from: #404040 var(--tw-gradient-from-position);
	--tw-gradient-to: rgba(64, 64, 64, 0) var(--tw-gradient-to-position);
	--tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}
.from-white\/10 {
	--tw-gradient-from: hsla(0, 0%, 100%, 0.1) var(--tw-gradient-from-position);
	--tw-gradient-to: hsla(0, 0%, 100%, 0) var(--tw-gradient-to-position);
	--tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}
.via-\[\#141414\] {
	--tw-gradient-to: hsla(0, 0%, 8%, 0) var(--tw-gradient-to-position);
	--tw-gradient-stops:
		var(--tw-gradient-from), #141414 var(--tw-gradient-via-position),
		var(--tw-gradient-to);
}
.via-\[\#FFFFFF\] {
	--tw-gradient-to: hsla(0, 0%, 100%, 0) var(--tw-gradient-to-position);
	--tw-gradient-stops:
		var(--tw-gradient-from), #fff var(--tw-gradient-via-position),
		var(--tw-gradient-to);
}
.to-\[\#303030\] {
	--tw-gradient-to: #303030 var(--tw-gradient-to-position);
}
.to-\[\#3B3B3B\] {
	--tw-gradient-to: #3b3b3b var(--tw-gradient-to-position);
}
.to-blue-700 {
	--tw-gradient-to: #1d4ed8 var(--tw-gradient-to-position);
}
.to-neutral-800 {
	--tw-gradient-to: #262626 var(--tw-gradient-to-position);
}
.to-white\/20 {
	--tw-gradient-to: hsla(0, 0%, 100%, 0.2) var(--tw-gradient-to-position);
}
.bg-clip-text {
	background-clip: text;
}
.object-contain {
	object-fit: contain;
}
.object-cover {
	object-fit: cover;
}
.p-2 {
	padding: 0.5rem;
}
.p-4 {
	padding: 1rem;
}
.p-6 {
	padding: 1.5rem;
}
.p-8 {
	padding: 2rem;
}
.p-\[6px\] {
	padding: 6px;
}
.px-1 {
	padding-left: 0.25rem;
	padding-right: 0.25rem;
}
.px-10 {
	padding-left: 2.5rem;
	padding-right: 2.5rem;
}
.px-2 {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}
.px-3 {
	padding-left: 0.75rem;
	padding-right: 0.75rem;
}
.px-4 {
	padding-left: 1rem;
	padding-right: 1rem;
}
.px-6 {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}
.px-8 {
	padding-left: 2rem;
	padding-right: 2rem;
}
.py-0\.5 {
	padding-top: 0.125rem;
	padding-bottom: 0.125rem;
}
.py-1 {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}
.py-1\.5 {
	padding-top: 0.375rem;
	padding-bottom: 0.375rem;
}
.py-10 {
	padding-top: 2.5rem;
	padding-bottom: 2.5rem;
}
.py-12 {
	padding-top: 3rem;
	padding-bottom: 3rem;
}
.py-16 {
	padding-top: 4rem;
	padding-bottom: 4rem;
}
.py-2 {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}
.py-20 {
	padding-top: 5rem;
	padding-bottom: 5rem;
}
.py-3 {
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
}
.py-4 {
	padding-top: 1rem;
	padding-bottom: 1rem;
}
.py-8 {
	padding-top: 2rem;
	padding-bottom: 2rem;
}
.pb-16 {
	padding-bottom: 4rem;
}
.pr-8 {
	padding-right: 2rem;
}
.pt-10 {
	padding-top: 2.5rem;
}
.pt-20 {
	padding-top: 5rem;
}
.pt-32 {
	padding-top: 8rem;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
.font-sans {
	font-family:
		ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
		"Segoe UI Symbol", "Noto Color Emoji";
}
.text-2xl {
	font-size: 1.5rem;
	line-height: 2rem;
}
.text-3xl {
	font-size: 1.875rem;
	line-height: 2.25rem;
}
.text-4xl {
	font-size: 2.25rem;
	line-height: 2.5rem;
}
.text-5xl {
	font-size: 3rem;
	line-height: 1;
}
.text-base,
.text-base\/6 {
	font-size: 1rem;
	line-height: 1.5rem;
}
.text-lg {
	font-size: 1.125rem;
	line-height: 1.75rem;
}
.text-sm {
	font-size: 0.875rem;
	line-height: 1.25rem;
}
.text-xl {
	font-size: 1.25rem;
	line-height: 1.75rem;
}
.text-xs {
	font-size: 0.75rem;
	line-height: 1rem;
}
.font-bold {
	font-weight: 700;
}
.font-medium {
	font-weight: 500;
}
.font-normal {
	font-weight: 400;
}
.font-semibold {
	font-weight: 600;
}
.leading-relaxed {
	line-height: 1.625;
}
.leading-tight {
	line-height: 1.25;
}
.tracking-tight {
	letter-spacing: -0.025em;
}
.text-black {
	--tw-text-opacity: 1;
	color: rgb(0 0 0 / var(--tw-text-opacity, 1));
}
.text-emerald-500 {
	--tw-text-opacity: 1;
	color: rgb(16 185 129 / var(--tw-text-opacity, 1));
}
.text-gray-500 {
	--tw-text-opacity: 1;
	color: rgb(107 114 128 / var(--tw-text-opacity, 1));
}
.text-neutral-200 {
	--tw-text-opacity: 1;
	color: rgb(229 229 229 / var(--tw-text-opacity, 1));
}
.text-neutral-300 {
	--tw-text-opacity: 1;
	color: rgb(212 212 212 / var(--tw-text-opacity, 1));
}
.text-neutral-400 {
	--tw-text-opacity: 1;
	color: rgb(163 163 163 / var(--tw-text-opacity, 1));
}
.text-neutral-500 {
	--tw-text-opacity: 1;
	color: rgb(115 115 115 / var(--tw-text-opacity, 1));
}
.text-neutral-600 {
	--tw-text-opacity: 1;
	color: rgb(82 82 82 / var(--tw-text-opacity, 1));
}
.text-transparent {
	color: transparent;
}
.text-white {
	--tw-text-opacity: 1;
	color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}
.text-white\/90 {
	color: rgba(255, 255, 255, 0.9);
}
.line-through {
	text-decoration-line: line-through;
}
.antialiased {
	-webkit-font-smoothing: antialiased;
}
.opacity-0 {
	opacity: 0;
}
.opacity-10 {
	opacity: 0.1;
}
.opacity-100 {
	opacity: 1;
}
.opacity-50 {
	opacity: 0.5;
}
.shadow-\[0_0_200px_80px_rgba\(255\,255\,255\,0\.1\)\] {
	--tw-shadow: 0 0 200px 80px hsla(0, 0%, 100%, 0.1);
	--tw-shadow-colored: 0 0 200px 80px var(--tw-shadow-color);
	box-shadow:
		var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
		var(--tw-shadow);
}
.shadow-\[0_1px_1px_rgba\(0\,0\,0\,0\.05\)\,0_4px_6px_rgba\(34\,42\,53\,0\.04\)\,0_24px_68px_rgba\(47\,48\,55\,0\.05\)\,0_2px_3px_rgba\(0\,0\,0\,0\.04\)\] {
	--tw-shadow:
		0 1px 1px rgba(0, 0, 0, 0.05), 0 4px 6px rgba(34, 42, 53, 0.04),
		0 24px 68px rgba(47, 48, 55, 0.05), 0 2px 3px rgba(0, 0, 0, 0.04);
	--tw-shadow-colored:
		0 1px 1px var(--tw-shadow-color), 0 4px 6px var(--tw-shadow-color),
		0 24px 68px var(--tw-shadow-color), 0 2px 3px var(--tw-shadow-color);
	box-shadow:
		var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
		var(--tw-shadow);
}
.shadow-\[0px_112px_31px_0px_rgba\(0\,0\,0\,0\.02\)\,0px_71px_29px_0px_rgba\(0\,0\,0\,0\.13\)\,0px_40px_24px_0px_rgba\(0\,0\,0\,0\.45\)\,0px_18px_18px_0px_rgba\(0\,0\,0\,0\.77\)\,0px_4px_10px_0px_rgba\(0\,0\,0\,0\.88\)\] {
	--tw-shadow:
		0px 112px 31px 0px rgba(0, 0, 0, 0.02), 0px 71px 29px 0px rgba(
			0,
			0,
			0,
			0.13
		), 0px 40px 24px 0px rgba(0, 0, 0, 0.45), 0px 18px 18px 0px rgba(
			0,
			0,
			0,
			0.77
		), 0px 4px 10px 0px rgba(0, 0, 0, 0.88);
	--tw-shadow-colored:
		0px 112px 31px 0px var(--tw-shadow-color), 0px 71px 29px 0px var(
			--tw-shadow-color
		), 0px 40px 24px 0px var(--tw-shadow-color), 0px 18px 18px 0px var(
			--tw-shadow-color
		), 0px 4px 10px 0px var(--tw-shadow-color);
	box-shadow:
		var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
		var(--tw-shadow);
}
.shadow-\[0px_115px_32px_0px_rgba\(0\,0\,0\,0\.01\)\,_0px_74px_29px_0px_rgba\(0\,0\,0\,0\.05\)\,_0px_41px_25px_0px_rgba\(0\,0\,0\,0\.16\)\,_0px_18px_18px_0px_rgba\(0\,0\,0\,0\.27\)\,_0px_5px_10px_0px_rgba\(0\,0\,0\,0\.31\)\,inset_0px_0px_20px_rgba\(0\,0\,0\,0\.5\)\] {
	--tw-shadow:
		0px 115px 32px 0px rgba(0, 0, 0, 0.01), 0px 74px 29px 0px rgba(
			0,
			0,
			0,
			0.05
		), 0px 41px 25px 0px rgba(0, 0, 0, 0.16), 0px 18px 18px 0px rgba(
			0,
			0,
			0,
			0.27
		), 0px 5px 10px 0px rgba(0, 0, 0, 0.31), inset 0px 0px 20px rgba(
			0,
			0,
			0,
			0.5
		);
	--tw-shadow-colored:
		0px 115px 32px 0px var(--tw-shadow-color), 0px 74px 29px 0px var(
			--tw-shadow-color
		), 0px 41px 25px 0px var(--tw-shadow-color), 0px 18px 18px 0px var(
			--tw-shadow-color
		), 0px 5px 10px 0px var(--tw-shadow-color), inset 0px 0px 20px var(
			--tw-shadow-color
		);
	box-shadow:
		var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
		var(--tw-shadow);
}
.shadow-\[0px_1px_1px_0px_rgba\(121\,121\,121\,0\.70\)_inset\] {
	--tw-shadow: 0px 1px 1px 0px hsla(0, 0%, 47%, 0.7) inset;
	--tw-shadow-colored: inset 0px 1px 1px 0px var(--tw-shadow-color);
	box-shadow:
		var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
		var(--tw-shadow);
}
.shadow-\[0px_23px_7px_0px_rgba\(0\,0\,0\,0\.01\)\,0px_15px_6px_0px_rgba\(0\,0\,0\,0\.06\)\,0px_8px_5px_0px_rgba\(0\,0\,0\,0\.19\)\,0px_4px_4px_0px_rgba\(0\,0\,0\,0\.32\)\,0px_1px_2px_0px_rgba\(0\,0\,0\,0\.37\)\] {
	--tw-shadow:
		0px 23px 7px 0px rgba(0, 0, 0, 0.01), 0px 15px 6px 0px rgba(0, 0, 0, 0.06), 0px 8px 5px 0px rgba(
			0,
			0,
			0,
			0.19
		), 0px 4px 4px 0px rgba(0, 0, 0, 0.32), 0px 1px 2px 0px rgba(0, 0, 0, 0.37);
	--tw-shadow-colored:
		0px 23px 7px 0px var(--tw-shadow-color), 0px 15px 6px 0px var(
			--tw-shadow-color
		), 0px 8px 5px 0px var(--tw-shadow-color), 0px 4px 4px 0px var(
			--tw-shadow-color
		), 0px 1px 2px 0px var(--tw-shadow-color);
	box-shadow:
		var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
		var(--tw-shadow);
}
.shadow-\[0px_2px_0px_0px_rgba\(255\,255\,255\,0\.3\)_inset\] {
	--tw-shadow: 0px 2px 0px 0px hsla(0, 0%, 100%, 0.3) inset;
	--tw-shadow-colored: inset 0px 2px 0px 0px var(--tw-shadow-color);
	box-shadow:
		var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
		var(--tw-shadow);
}
.shadow-\[0px_2px_6\.4px_0px_rgba\(0\,0\,0\,0\.60\)\] {
	--tw-shadow: 0px 2px 6.4px 0px rgba(0, 0, 0, 0.6);
	--tw-shadow-colored: 0px 2px 6.4px 0px var(--tw-shadow-color);
	box-shadow:
		var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
		var(--tw-shadow);
}
.shadow-\[2px_-2px_15px_rgba\(0\,0\,0\,0\.2\)\] {
	--tw-shadow: 2px -2px 15px rgba(0, 0, 0, 0.2);
	--tw-shadow-colored: 2px -2px 15px var(--tw-shadow-color);
	box-shadow:
		var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
		var(--tw-shadow);
}
.shadow-\[inset_0px_6px_8px_0px_\#FAFAFA40\,inset_0px_-6px_8px_0px_\#FAFAFA40\,0px_0px_0px_0px_\#FAFAFA40\,0px_0px_0px_0px_\#FAFAFA40\] {
	--tw-shadow:
		inset 0px 6px 8px 0px #fafafa40, inset 0px -6px 8px 0px #fafafa40, 0px 0px 0px 0px #fafafa40, 0px 0px 0px 0px #fafafa40;
	--tw-shadow-colored:
		inset 0px 6px 8px 0px var(--tw-shadow-color), inset 0px -6px 8px 0px var(
			--tw-shadow-color
		), 0px 0px 0px 0px var(--tw-shadow-color), 0px 0px 0px 0px var(
			--tw-shadow-color
		);
	box-shadow:
		var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
		var(--tw-shadow);
}
.shadow-none {
	--tw-shadow: 0 0 #0000;
	--tw-shadow-colored: 0 0 #0000;
	box-shadow:
		var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
		var(--tw-shadow);
}
.ring-1 {
	--tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
		var(--tw-ring-offset-width) var(--tw-ring-offset-color);
	--tw-ring-shadow: var(--tw-ring-inset) 0 0 0
		calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
	box-shadow:
		var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
		var(--tw-shadow, 0 0 #0000);
}
.ring-neutral-700 {
	--tw-ring-opacity: 1;
	--tw-ring-color: rgb(64 64 64 / var(--tw-ring-opacity, 1));
}
.blur {
	--tw-blur: blur(8px);
}
.blur,
.blur-\[var\(--blur\)\] {
	filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
		var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate)
		var(--tw-sepia) var(--tw-drop-shadow);
}
.blur-\[var\(--blur\)\] {
	--tw-blur: blur(var(--blur));
}
.invert {
	--tw-invert: invert(100%);
}
.filter,
.invert {
	filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast)
		var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate)
		var(--tw-sepia) var(--tw-drop-shadow);
}
.backdrop-blur-lg {
	--tw-backdrop-blur: blur(16px);
}
.backdrop-blur-lg,
.backdrop-blur-xl {
	backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
		var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
		var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
		var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
		var(--tw-backdrop-sepia);
}
.backdrop-blur-xl {
	--tw-backdrop-blur: blur(24px);
}
.backdrop-saturate-\[1\.8\] {
	--tw-backdrop-saturate: saturate(1.8);
	backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
		var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
		var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
		var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
		var(--tw-backdrop-sepia);
}
.transition {
	transition-property:
		color, background-color, border-color, text-decoration-color, fill, stroke,
		opacity, box-shadow, transform, filter, backdrop-filter;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 0.15s;
}
.transition-all {
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 0.15s;
}
.transition-colors {
	transition-property:
		color, background-color, border-color, text-decoration-color, fill, stroke;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 0.15s;
}
.transition-opacity {
	transition-property: opacity;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 0.15s;
}
.duration-200 {
	transition-duration: 0.2s;
}
.duration-300 {
	transition-duration: 0.3s;
}
@keyframes enter {
	0% {
		opacity: var(--tw-enter-opacity, 1);
		transform: translate3d(
				var(--tw-enter-translate-x, 0),
				var(--tw-enter-translate-y, 0),
				0
			)
			scale3d(
				var(--tw-enter-scale, 1),
				var(--tw-enter-scale, 1),
				var(--tw-enter-scale, 1)
			)
			rotate(var(--tw-enter-rotate, 0));
	}
}
@keyframes exit {
	100% {
		opacity: var(--tw-exit-opacity, 1);
		transform: translate3d(
				var(--tw-exit-translate-x, 0),
				var(--tw-exit-translate-y, 0),
				0
			)
			scale3d(
				var(--tw-exit-scale, 1),
				var(--tw-exit-scale, 1),
				var(--tw-exit-scale, 1)
			)
			rotate(var(--tw-exit-rotate, 0));
	}
}
.duration-200 {
	animation-duration: 0.2s;
}
.duration-300 {
	animation-duration: 0.3s;
}
.\[background-image\:linear-gradient\(90deg\,rgba\(255\,255\,255\,0\)_0\%\,\#FFFFFF_32\.29\%\,rgba\(255\,255\,255\,0\.3\)_67\.19\%\,rgba\(255\,255\,255\,0\)_100\%\)\] {
	background-image: linear-gradient(
		90deg,
		rgba(255, 255, 255, 0),
		rgb(255, 255, 255) 32.29%,
		rgba(255, 255, 255, 0.3) 67.19%,
		rgba(255, 255, 255, 0)
	);
}
.\[background\:linear-gradient\(0deg\,\#151515\,\#151515\)\,linear-gradient\(180deg\,rgba\(21\,21\,21\,0\)_66\.3\%\,rgba\(255\,255\,255\,0\.5\)_100\%\)\,linear-gradient\(183\.22deg\,rgba\(255\,255\,255\,0\.5\)_2\.62\%\,rgba\(21\,21\,21\,0\)_52\.03\%\)\] {
	background:
		linear-gradient(0deg, rgb(21, 21, 21), rgb(21, 21, 21)),
		linear-gradient(rgba(20, 20, 20, 0) 66.3%, rgba(255, 255, 255, 0.5)),
		linear-gradient(
			183.22deg,
			rgba(255, 255, 255, 0.5) 2.62%,
			rgba(20, 20, 20, 0) 52.03%
		);
}
.\[border-image-source\:linear-gradient\(180deg\,\#1F1F1F_0\%\,\#858585_100\%\)\,linear-gradient\(180deg\,\#1F1F1F_0\%\,\#858585_100\%\)\] {
}
.\[mask-image\:linear-gradient\(to_bottom\,transparent\,white_15\%\,white_85\%\,transparent\)\] {
	mask-image: linear-gradient(
		transparent,
		rgb(255, 255, 255) 15%,
		rgb(255, 255, 255) 85%,
		transparent
	);
}
html {
	scroll-behavior: smooth;
}
body {
	font-family: Arial, Helvetica, sans-serif;
}
.before\:absolute::before {
	content: var(--tw-content);
	position: absolute;
}
.before\:inset-0::before {
	content: var(--tw-content);
	inset: 0px;
}
.before\:rounded-full::before {
	content: var(--tw-content);
	border-radius: 9999px;
}
.before\:bg-gradient-to-br::before {
	content: var(--tw-content);
	background-image: linear-gradient(to bottom right, var(--tw-gradient-stops));
}
.before\:from-white\/10::before {
	content: var(--tw-content);
	--tw-gradient-from: hsla(0, 0%, 100%, 0.1) var(--tw-gradient-from-position);
	--tw-gradient-to: hsla(0, 0%, 100%, 0) var(--tw-gradient-to-position);
	--tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}
.before\:to-transparent::before {
	content: var(--tw-content);
	--tw-gradient-to: transparent var(--tw-gradient-to-position);
}
.after\:absolute::after {
	content: var(--tw-content);
	position: absolute;
}
.after\:inset-\[calc\(-1\*var\(--glowingeffect-border-width\)\)\]::after {
	content: var(--tw-content);
	inset: calc(-1 * var(--glowingeffect-border-width));
}
.after\:rounded-\[inherit\]::after {
	content: var(--tw-content);
	border-radius: inherit;
}
.after\:opacity-\[var\(--active\)\]::after {
	content: var(--tw-content);
	opacity: var(--active);
}
.after\:transition-opacity::after {
	content: var(--tw-content);
	transition-property: opacity;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 0.15s;
}
.after\:duration-300::after {
	transition-duration: 0.3s;
}
.after\:content-\[\"\"\]::after {
	--tw-content: "";
	content: var(--tw-content);
}
.after\:duration-300::after {
	content: var(--tw-content);
	animation-duration: 0.3s;
}
.after\:\[background-attachment\:fixed\]::after {
	content: var(--tw-content);
	background-attachment: fixed;
}
.after\:\[background\:var\(--gradient\)\]::after {
	content: var(--tw-content);
	background: var(--gradient);
}
.after\:\[border\:var\(--glowingeffect-border-width\)_solid_transparent\]::after {
	content: var(--tw-content);
	border: var(--glowingeffect-border-width) solid transparent;
}
.after\:\[mask-clip\:padding-box\,border-box\]::after {
	content: var(--tw-content);
	mask-clip: padding-box, border-box;
}
.after\:\[mask-composite\:intersect\]::after {
	content: var(--tw-content);
	mask-composite: intersect;
}
.after\:\[mask-image\:linear-gradient\(\#0000\,\#0000\)\,conic-gradient\(from_calc\(\(var\(--start\)-var\(--spread\)\)\*1deg\)\,\#00000000_0deg\,\#fff\,\#00000000_calc\(var\(--spread\)\*2deg\)\)\]::after {
	content: var(--tw-content);
	mask-image:
		linear-gradient(#0000, #0000),
		conic-gradient(
			from calc((var(--start) - var(--spread)) * 1deg),
			#00000000 0deg,
			#fff,
			#00000000 calc(var(--spread) * 2deg)
		);
}
.last\:mb-0:last-child {
	margin-bottom: 0px;
}
.hover\:-translate-y-0\.5:hover {
	--tw-translate-y: -0.125rem;
	transform: translate(var(--tw-translate-x), var(--tw-translate-y))
		rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
		scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.hover\:bg-neutral-700\/20:hover {
	background-color: rgba(64, 64, 64, 0.2);
}
.hover\:bg-white\/30:hover {
	background-color: rgba(255, 255, 255, 0.3);
}
.hover\:from-neutral-600:hover {
	--tw-gradient-from: #525252 var(--tw-gradient-from-position);
	--tw-gradient-to: rgba(82, 82, 82, 0) var(--tw-gradient-to-position);
	--tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}
.hover\:to-neutral-700:hover {
	--tw-gradient-to: #404040 var(--tw-gradient-to-position);
}
.hover\:text-white:hover {
	--tw-text-opacity: 1;
	color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}
.hover\:shadow-\[0_4px_12px_0px_rgba\(0\,0\,0\,0\.4\)\]:hover {
	--tw-shadow: 0 4px 12px 0px rgba(0, 0, 0, 0.4);
	--tw-shadow-colored: 0 4px 12px 0px var(--tw-shadow-color);
	box-shadow:
		var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
		var(--tw-shadow);
}
.hover\:shadow-\[4px_-4px_20px_rgba\(0\,0\,0\,0\.3\)\]:hover {
	--tw-shadow: 4px -4px 20px rgba(0, 0, 0, 0.3);
	--tw-shadow-colored: 4px -4px 20px var(--tw-shadow-color);
	box-shadow:
		var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
		var(--tw-shadow);
}
.dark\:text-neutral-200:is(.dark *) {
	--tw-text-opacity: 1;
	color: rgb(229 229 229 / var(--tw-text-opacity, 1));
}
.dark\:text-white:is(.dark *) {
	--tw-text-opacity: 1;
	color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}
@media (min-width: 640px) {
	.sm\:mb-10 {
		margin-bottom: 2.5rem;
	}
	.sm\:mt-8 {
		margin-top: 2rem;
	}
	.sm\:h-auto {
		height: auto;
	}
	.sm\:w-40 {
		width: 10rem;
	}
	.sm\:w-auto {
		width: auto;
	}
	.sm\:grid-cols-4 {
		grid-template-columns: repeat(4, minmax(0px, 1fr));
	}
	.sm\:flex-row {
		flex-direction: row;
	}
	.sm\:gap-2 {
		gap: 0.5rem;
	}
	.sm\:px-6 {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}
	.sm\:px-8 {
		padding-left: 2rem;
		padding-right: 2rem;
	}
	.sm\:text-base {
		font-size: 1rem;
		line-height: 1.5rem;
	}
	.sm\:text-sm {
		font-size: 0.875rem;
		line-height: 1.25rem;
	}
}
@media (min-width: 768px) {
	.md\:top-10 {
		top: 2.5rem;
	}
	.md\:my-20 {
		margin-top: 5rem;
		margin-bottom: 5rem;
	}
	.md\:my-6 {
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;
	}
	.md\:mb-0 {
		margin-bottom: 0px;
	}
	.md\:mb-10 {
		margin-bottom: 2.5rem;
	}
	.md\:mb-20 {
		margin-bottom: 5rem;
	}
	.md\:mr-4 {
		margin-right: 1rem;
	}
	.md\:mt-16 {
		margin-top: 4rem;
	}
	.md\:mt-20 {
		margin-top: 5rem;
	}
	.md\:block {
		display: block;
	}
	.md\:h-10 {
		height: 2.5rem;
	}
	.md\:h-12 {
		height: 3rem;
	}
	.md\:h-36 {
		height: 9rem;
	}
	.md\:h-6 {
		height: 1.5rem;
	}
	.md\:h-60 {
		height: 15rem;
	}
	.md\:h-\[70px\] {
		height: 70px;
	}
	.md\:min-h-\[100dvh\] {
		min-height: 100dvh;
	}
	.md\:w-10 {
		width: 2.5rem;
	}
	.md\:w-40 {
		width: 10rem;
	}
	.md\:w-6 {
		width: 1.5rem;
	}
	.md\:w-\[60\%\] {
		width: 60%;
	}
	.md\:w-\[70px\] {
		width: 70px;
	}
	.md\:grid-cols-3 {
		grid-template-columns: repeat(3, minmax(0px, 1fr));
	}
	.md\:grid-cols-4 {
		grid-template-columns: repeat(4, minmax(0px, 1fr));
	}
	.md\:flex-row {
		flex-direction: row;
	}
	.md\:gap-10 {
		gap: 2.5rem;
	}
	.md\:gap-\[11px\] {
		gap: 11px;
	}
	.md\:p-4 {
		padding: 1rem;
	}
	.md\:p-\[9px\] {
		padding: 9px;
	}
	.md\:px-0 {
		padding-left: 0px;
		padding-right: 0px;
	}
	.md\:px-8 {
		padding-left: 2rem;
		padding-right: 2rem;
	}
	.md\:py-12 {
		padding-top: 3rem;
		padding-bottom: 3rem;
	}
	.md\:py-20 {
		padding-top: 5rem;
		padding-bottom: 5rem;
	}
	.md\:py-40 {
		padding-top: 10rem;
		padding-bottom: 10rem;
	}
	.md\:py-6 {
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;
	}
	.md\:pb-32 {
		padding-bottom: 8rem;
	}
	.md\:pr-12 {
		padding-right: 3rem;
	}
	.md\:pt-40 {
		padding-top: 10rem;
	}
	.md\:pt-48 {
		padding-top: 12rem;
	}
	.md\:pt-60 {
		padding-top: 15rem;
	}
	.md\:text-3xl {
		font-size: 1.875rem;
		line-height: 2.25rem;
	}
	.md\:text-4xl {
		font-size: 2.25rem;
		line-height: 2.5rem;
	}
	.md\:text-6xl {
		font-size: 3.75rem;
		line-height: 1;
	}
	.md\:text-7xl {
		font-size: 4.5rem;
		line-height: 1;
	}
	.md\:text-base {
		font-size: 1rem;
		line-height: 1.5rem;
	}
	.md\:text-lg {
		font-size: 1.125rem;
		line-height: 1.75rem;
	}
	.md\:opacity-100 {
		opacity: 1;
	}
	.md\:shadow-xl {
		--tw-shadow:
			0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
		--tw-shadow-colored:
			0 20px 25px -5px var(--tw-shadow-color),
			0 8px 10px -6px var(--tw-shadow-color);
		box-shadow:
			var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000),
			var(--tw-shadow);
	}
}
@media (min-width: 1024px) {
	.lg\:col-span-2 {
		grid-column: span 2 / span 2;
	}
	.lg\:col-span-3 {
		grid-column: span 3 / span 3;
	}
	.lg\:mx-0 {
		margin-left: 0px;
		margin-right: 0px;
	}
	.lg\:my-8 {
		margin-top: 2rem;
		margin-bottom: 2rem;
	}
	.lg\:mt-36 {
		margin-top: 9rem;
	}
	.lg\:mt-\[-50px\] {
		margin-top: -50px;
	}
	.lg\:mt-\[50px\] {
		margin-top: 50px;
	}
	.lg\:block {
		display: block;
	}
	.lg\:flex {
		display: flex;
	}
	.lg\:hidden {
		display: none;
	}
	.lg\:h-16 {
		height: 4rem;
	}
	.lg\:w-48 {
		width: 12rem;
	}
	.lg\:w-\[40\%\] {
		width: 40%;
	}
	.lg\:max-w-none {
		max-width: none;
	}
	.lg\:grid-cols-2 {
		grid-template-columns: repeat(2, minmax(0px, 1fr));
	}
	.lg\:grid-cols-5 {
		grid-template-columns: repeat(5, minmax(0px, 1fr));
	}
	.lg\:flex-row {
		flex-direction: row;
	}
	.lg\:gap-20 {
		gap: 5rem;
	}
	.lg\:px-4 {
		padding-left: 1rem;
		padding-right: 1rem;
	}
	.lg\:px-8 {
		padding-left: 2rem;
		padding-right: 2rem;
	}
	.lg\:py-20 {
		padding-top: 5rem;
		padding-bottom: 5rem;
	}
	.lg\:pb-48 {
		padding-bottom: 12rem;
	}
	.lg\:text-left {
		text-align: left;
	}
	.lg\:text-5xl {
		font-size: 3rem;
		line-height: 1;
	}
}
@media (min-width: 1280px) {
	.xl\:text-6xl {
		font-size: 3.75rem;
		line-height: 1;
	}
}
@font-face {
	font-family: Inter;
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
	src: url("/_next/static/media/ba9851c3c22cd980-s.woff2") format("woff2");
	unicode-range:
		U+460-52F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
@font-face {
	font-family: Inter;
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
	src: url("/_next/static/media/21350d82a1f187e9-s.woff2") format("woff2");
	unicode-range: U+301, U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: Inter;
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
	src: url("/_next/static/media/c5fe6dc8356a8c31-s.woff2") format("woff2");
	unicode-range: U+1F00-1FFF;
}
@font-face {
	font-family: Inter;
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
	src: url("/_next/static/media/19cfc7226ec3afaa-s.woff2") format("woff2");
	unicode-range: U+370-377, U+37A-37F, U+384-38A, U+38C, U+38E-3A1, U+3A3-3FF;
}
@font-face {
	font-family: Inter;
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
	src: url("/_next/static/media/df0a9ae256c0569c-s.woff2") format("woff2");
	unicode-range:
		U+102-103, U+110-111, U+128-129, U+168-169, U+1A0-1A1, U+1AF-1B0, U+300-301, U+303-304, U+308-309, U+323, U+329, U+1EA0-1EF9, U+20AB;
}
@font-face {
	font-family: Inter;
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
	src: url("/_next/static/media/8e9860b6e62d6359-s.woff2") format("woff2");
	unicode-range:
		U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: Inter;
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
	src: url("/_next/static/media/e4af272ccee01ff0-s.p.woff2") format("woff2");
	unicode-range:
		U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
	font-family: "Inter Fallback";
	src: local("Arial");
	ascent-override: 90.44%;
	descent-override: 22.52%;
	line-gap-override: 0%;
	size-adjust: 107.12%;
}
.__className_f367f3 {
	font-family: Inter, "Inter Fallback";
	font-style: normal;
}
