@font-face {
	font-family: "Helvetica Now Display Bold";
	src: url("./04e6981992c0e2e7642af2074ebe3901.eot");
	src:
		url("./04e6981992c0e2e7642af2074ebe3901.eot?#iefix")
		format("embedded-opentype"),
		url("./04e6981992c0e2e7642af2074ebe3901.woff") format("woff"),
		url("./04e6981992c0e2e7642af2074ebe3901.woff2") format("woff2"),
		url("./04e6981992c0e2e7642af2074ebe3901.ttf") format("truetype"),
		url("./04e6981992c0e2e7642af2074ebe3901.svg#Helvetica Now Display Bold")
		format("svg");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
